&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            pinmux = <I2C0_SDA_GPIO8>, <I2C0_SCL_GPIO9>;
            bias-pull-up;
            drive-open-drain;
            output-high;
        };
    };
};


&i2c0 {
	status = "okay";

	mpu6050@68 {
		compatible = "invensense,mpu6050";
		reg = <0x68>;
		status = "okay";
		int-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
		smplrt-div = <249>;
	};
    clock-frequency = <I2C_BITRATE_STANDARD>;  
    pinctrl-0 = <&i2c0_default>;
    pinctrl-names = "default";
};