/ {
    example_sensor: example_sensor_0 {
        compatible = "zephyr,example-sensor";
        input-gpios = <&gpio0 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        status = "okay";
    };

    aliases {
        led0 = &myled0;
        button0 = &button_0;
    };

    leds: leds {
        compatible = "gpio-leds";
        myled0: led_0 {
            gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
        };
    };

    buttons: buttons {
        compatible = "gpio-keys";
        button_0: button_0 {
            gpios = <&gpio0 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        };
    };

};

/* I2C controller and LIDAR device */
/* I2C controller and LIDAR device */

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            /* Pick the GPIOs you actually wired */
            pinmux = <I2C0_SDA_GPIO8>, <I2C0_SCL_GPIO9>;
            bias-pull-up;        /* enable internal pull-ups (still OK to use externals) */
            drive-open-drain;    /* I2C lines are open-drain */
        };
    };
};

&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;
    pinctrl-0 = <&i2c0_default>;
    pinctrl-names = "default";

    lidar@62 {
        compatible = "grmn,lidar-lite-v4";
        reg = <0x62>;
        label = "LIDAR_LITE_V4";
        status = "okay";
    };
};
&gpio0 {
    status = "okay";
};
