/ {
    aliases {
        sw0 = &my_button;
    };
    gpio_keys {
        compatible = "gpio-keys";
        my_button: my_button {
            gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
            label = "Button 0";
        };
    };
};
