/ {
    aliases {
		myspi = &spi2;
	};
};

&spi2 {
	compatible = "espressif,esp32-spi";

	// already defind for me
	status = "okay";
    pinctrl-0 = <&spim2_default>;
    pinctrl-names = "default";

	// custom settings
    cs-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;

    esp32: esp32@0 {
        compatible = "vnd,spi-device";
        reg = <0>;
        spi-max-frequency = <1600000>;
        label = "esp32";
    };
};

// same as in pinctrl dsi; this is just for clarity 
&pinctrl {
	spim2_default: spim2_default {
		group1 {
			pinmux = 
                <SPIM2_MISO_GPIO13>,
				 <SPIM2_SCLK_GPIO12>,
				 <SPIM2_CSEL_GPIO10>;
		};

		group2 {
			pinmux = <SPIM2_MOSI_GPIO11>;
			output-low;
		};
	};
};
