/ {
    aliases {
        i2c-lidar = &i2c1;
        i2c-imu = &i2c2;
    };
};

&i2c1 {
    status = "okay";
    pinctrl-0 = <&i2c1_scl_pb8 &i2c1_sda_pb9>;
    pinctrl-names = "default";
};

&i2c2 {
    status = "okay";
    pinctrl-0 = <&i2c2_scl_pf1 &i2c2_sda_pf0>;
    pinctrl-names = "default";
};