// spi controller
&spi2 {
    // This right here expects CONFIG_ESP32_SPIM=y
	compatible = "espressif,esp32-spis";

    // already defined in zephyr/boards/espressif/esp32s3_devkitc/esp32s3_devkitc_procpu.dts
	// redundant but here for clarity
	status = "okay";
    pinctrl-0 = <&spis2_default>;
    pinctrl-names = "default";

	// custom settings; I have defined this myself.
    cs-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
};

// already defined in zephyr/boards/espressif/esp32s3_devkitc/esp32s3_devkitc-pinctrl.dtsi
// redundant but here for clarity
&pinctrl {
	spis2_default: spis2_default {
		group1 {
			pinmux = 
                 <SPIS2_MOSI_GPIO11>,
				 <SPIS2_SCLK_GPIO12>,
				 <SPIS2_CSEL_GPIO10>;
		};

        // MOSI will be 0 on start.
        // defined in a different group because it has different settings than group 1 pins.
		group2 {
			pinmux = <SPIS2_MISO_GPIO13>;
			output-low;
		};
	};
};