/ {
	i2cbb0: i2cbb0 {
		compatible = "zephyr,i2c-bitbang";
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		clock-frequency = <I2C_BITRATE_STANDARD>;

		sda-gpios = <&gpio0 15 (GPIO_OPEN_DRAIN | GPIO_ACTIVE_HIGH)>;
		scl-gpios = <&gpio0 16 (GPIO_OPEN_DRAIN | GPIO_ACTIVE_HIGH)>;
	};
};